* {
  color: #757575;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 200px;
}

.hsep {
  min-width: 3px;
}

.headline {
  color: #757575;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subheadline {
  display: flex;
  border-top: .5px solid #eee;
  align-items: flex-start;
  padding-left: 3px;
}

#sort-by {
  color: #757575;
  background-color: #eee;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#sort-order, #sort-feature {
  font-weight: bold;
  background-color: #ccc;
  padding: 3px;
  border-radius: .25em;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.mark-wrapper {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.a-mark {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.mark-primary-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px 8px 8px;
}
.mark-favicon {
  margin-right: 3px;
  object-fit: contain;
  width: 30px;
}
.mark-desc {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
}
.mark-title {
  font-weight: bold;
}
.mark-title, .mark-url {
  white-space: nowrap;
  padding: 0px 5px;
  border-radius: 3px;
}
.mark-title:hover, .mark-url:hover {
  background-color: #eee;
}
.mark-actions {
  display: flex;
  /* justify-content: space-between; */
}
.mark-actions > * {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.mark-actions-left {
  flex-grow: 1;
}
.mark-action {
  cursor: pointer;
  color: #757575;
  margin: 4px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.mark-action:not(:first-child) {
  margin-left: 0px;
}
.mark-action:hover {
  background-color: #eee;
}
.mark-details {
  padding: 8px 8px 12px 8px;
}
.mark-details > *:not(:first-child) {
  margin-top: 8px;
}
.mark-details .section-title {
  font-weight: bolder;
  font-size:80%;
}
.mark-details .text-display {
  font-weight: lighter;
}
.mark-details .action {
  opacity: 0.25;
  margin-left: 3px;
}
.mark-details .action:hover { opacity: 1; }
.mark-details .text-edit {
  display: flex;
  align-items: center;
}
.mark-details input {
  flex-grow: 1;
}
.mark-details .desc-display {
  word-wrap: wrap;
  width: 100%;
  height: 5em;
}
.mark-details .desc-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mark-details textarea {
  height: 6em;
  flex-grow: 1;
}
textarea, input[type="text"] {
  padding: 5px 0;
  background-color: rgba(0,0,0,0);
  border: 0;
  border-bottom: 1px solid #ddd;
}
textarea:focus, input[type="text"]:focus {
  border-bottom: 1px solid #CDDC39;
}
textarea {
  resize: none;
}
.tag {
  display: inline-flex;
  align-items: center;
  background-color: #eee;
  padding: 0px 6px;
  height: 25px;
  margin: 2px;
  border-radius: 12px;
}
.tag.edit {
  padding: 0px 2px 0px 6px;
}
.tag .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  width: 15px;
  height: 15px;
  margin-left: 2px;
}
.tag:hover {
  background-color: #888;
  color: #fff;
}
.tag:hover .fa {
  color: #fff;
}
.popup-text {
  z-index: 999;
}
.popup-text {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}
.popup-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popup-text > div {
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 3px;
  overflow: auto;
}
.popup-text > div {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.popup-text .tag { padding-right: 10px!important; }
.misc-section {
  display: flex;
  flex-direction: column;
}
.misc-section .sign-in-status {
  flex-grow: 1;
  background-color: #ddd;
  text-align: center;
}
.misc-section .buttons-section {
  flex-grow: 1;
  background-color: #eee;
  display: flex;
}
.misc-section .buttons-section * {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
.misc-section .buttons-section *:hover {
  background-color: #ddd;
}
.fa-home:hover {
  background-color: #CDDC39!important;
  color: white;
}
